.input-container {
    display: block !important;
    width: 100% !important;
}

.input-label {
    position: absolute !important;
    display: block !important;
    border: 0px !important;
    margin: -1px !important;
    padding: 0px !important;
    height: 1px !important;
    width: 1px !important;
    clip: rect(0, 0, 0, 0) !important;
    overflow: hidden !important;
}

.input-inner-container {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    background-color: rgb(255, 255, 255) !important;
    margin-bottom: 8px !important;
    position: relative !important;
    z-index: 0 !important;
    display: block !important;
    width: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 2px !important;
}

.input-card {
    position: relative !important;
    overflow: hidden !important;
}

.input-component {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    background-color: transparent !important;
    width: 100% !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    padding: 11px !important;
}